:root{
	--dark-light-blue: rgb(28,40,68);
	--dark-blue: rgb(13,17,31);
	--light-blue: rgb(3,133,146);
}
*{
	box-sizing: border-box;
}
body{
	font-family: Avenir;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
	overflow: hidden;
	background-color: var(--dark-blue);
}
nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
}
nav > .nav-section{
	padding: 1.2rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;

}
a{
	text-decoration: none;
	color: black;
}
#nav-logo-section{
	flex-basis: calc(100% / 3);
}
#nav-link-section{
	flex-basis: calc(100% / 3);
	gap: 4rem;
}
#nav-business-section{
	flex-grow: 1;
	font-size: 1.3rem;
}
#nav-social-section{
	flex-grow: 1;
	gap: 5rem;
	font-size: 1.5rem;
}
#nav-logo-section{
	justify-content: flex-start;
}
#image-track > .image{
	width: 25vmin;
	height: 36vmin;
	object-fit: cover;
	object-position: 100% center;
}
#image-track{
	display: flex;
	gap: 4vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
	user-select: none;
}
